*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    background-image: url("https://cdn2.vectorstock.com/i/1000x1000/00/76/soap-bubbles-on-black-background-seamless-pattern-vector-7210076.jpg");
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
#panel{
    width: 80%;
    height: 80%;
    background-color: rgb(21, 20, 20);
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid rgb(3, 255, 255);
}
#ptop{
    width: 100%;
    height: 100px;
    background-color: rgb(31, 31, 31);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30%;
    border: 2px solid rgb(0, 205, 208);
}
.elem{
    display: flex;
    align-items: center;
    gap: 20px;
}
.box{
    color: #15683a;
    font-size: 25px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: whitesmoke;
    border-radius: 5px;
}
#pbtm{
    width: 100%;
    height: calc(100% - 100px);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    color: #fff;
}
.bubble{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    color: whitesmoke;
    background-color: rgb(2, 43, 46);
    border-radius: 50%;
    font-weight: 500;
    border: 2px solid rgb(0, 135, 124);
}
.bubble:hover{
    background-color: rgb(21, 21, 21);
    cursor: pointer;

}
.deco{
    height: 100px;
    position: absolute;
}
.dec01{
    top: 20px;
    left: 25px;
    z-index: 1000;
}
.dec03{
    bottom: 20px;
    right: 30px;
}